body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: white;

    margin: 0;

    position: relative;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.button {
    margin: 0.6rem;
    
}

p {
    margin: 0.6rem;
}

.button1 {
    display: block;
    margin: 0.6rem;
}

.input {
    margin: 0.6rem;
}


textarea {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;

}

.show {
    
    position: absolute;
    top: 75%;
    left: 40%;
    max-width: 100%;
    word-break: break-all;

}


.word {
    position: absolute;
    left: 10px;
    top: 100%;
    display: none;
}

.word-active {
    display: block;
    display: none;
}



.btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.mb-3 {
    position: absolute;
    top: 45%;
    left: 50%;

    display: none;
}

.coloredText {
    position: absolute;
    top: 55%;
    left: 49%;
    display: none;

}

.colored1 {
    color: red;

}

.response {
    display: none;
    transform: translate(15px, 5px);
}



.reveal {
    background-color: black;
    height: 100px;
}

.reveal-active {
    background-color: red;
    height: 100px;
}